{% extends 'network/layout.html' %}
{% block page_type %}following{% endblock %}

{% block title %}
    Following Page
{% endblock %}

{% block body %}    
    <div class="following-page">
        <header>
            <h1>Posts by Users You Follow</h1>
        </header>

        <div class="post-list">
            <!-- Posts will be displayed here using JavaScript -->
        </div>

        <div class="pagination-container">
            <!-- Pagination controls will be created using JavaScript -->
        </div>
    </div>    
{% endblock %}